.information{
    list-style-type: none;
    padding: 0;
}

header h1{
    border-left: 0.2rem solid #9e1d1d;
    color:#9e1d1d;
    font-size: 120%;
    font-weight: 700;
    padding-left: 0.1rem;
}

header{
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 5.5rem;
}

.banner{
    width: 25rem;
    height: 10rem;
}

.row{
    padding-bottom: 3rem;
}

i{
    color: #9e1d1d
}